.my-navbar{
    background-color: rgba(0,0,0,0);
    z-index: 999;
}
.container-fluid{
    padding: 0px;
    width: 100%;
    min-height: 100vh;
}
.hero{
    background-image: url('../images/bg.jpg');
    background-position: bottom center;
    background-size: cover;
}
.wrapper{
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
}
.wrapper hr{
    border: 1px solid white;
    width: 50%;
}
.wrapper p{
    width: 50%;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
    .hero, .wrapper{
        height: 100vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero, .wrapper{
        height: 500px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero, .wrapper{
        height: 400px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hero, .wrapper{
        height: 400px;
    }
}
.cate{
    height: 180px;
    background-size: cover;
}
.cate-box{
    height: 180px;
    background-color: rgba(0,0,0,.6);
}
.post-box{
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding-bottom: 20px;
    padding-top: 20px;
}
.post-title{
    font-size: 1.5rem;
    font-weight: 300;
}
.post-title:hover{
    text-decoration: none;
}
.post-author{
    font-weight: 300px;
}
.post-content{
    font-weight: 300;
}
footer{
    background-color: black;
    margin: 0 !important;
    height: 300px;
}
.footer-top{
    height: 250px;
}
.footer-nav a, .footer-nav span{
    margin: 5px;
}
.footer-nav a:hover{
    color: white;
    text-decoration: none;
}
.footer-nav a, footer, .social a {
    color: rgba(255,255,255,.7);
}
.social a{
    margin: 3px;
    font-size: 1.2rem;
}
.social a:hover {
    color: white;
}
.footer-bottom{
    height: 50px;
    line-height: 50px;
    background: rgba(255, 0, 0, 0.11);
    font-size: 1.2rem;
}
.footer-bottom p{
    margin-bottom: 0px !important;
    font-weight: 100;
}